@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    <div class="col-3">

    </div>
    <div class="col-auto"></div>
    <div class="col-4 text-center">
        <hr />
        <h2>Manager Home</h2>
        <hr />
    </div>
    <div class="col-auto"></div>
    <div class="col-3">

    </div>
</div>
<hr />
<div class="row justify-content-center">
    <div class="col-auto text-center">

    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="col-5 text-center my-auto">

    </div>
    <div class="col-auto">
    </div>
    <div class="col-5 text-center my-auto">

    </div>
</div>